@using WSM.Markdown
<div class="@($"alert alert-{(User ?"success" :"secondary")} mt-4 {(User ?"user" :"ai")}")">
    <span class="@(User ? "fas fa-user" : "fab fa-confluence")" aria-hidden="true"></span>
    <strong>@(User ? "User" : "Alphastic")</strong>
    <br/>
    <ReadmeView ChangeOnRender Content="@Title" />
</div>

@code {
    [Parameter]
    public string? Title { get; set; }
    [Parameter]
    public bool User { get; set; }
}
